@font-face {
    font-family: "Inconsolata";
    src: url(../fonts/Inconsolata/static/Inconsolata-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Inconsolata";
}

img{
    display: block;
    width: 100%;
}

/* Design Header */

.main-header .container{
    padding: 0 20px;
}

.main-header_title{
    text-align: center;
    font-size: 2.5em;
    margin: 10px 0 5px;
    color: #454546;
    font-family: "Poppins";
}

.main-nav{
    display: none;
}

.main-header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon-menu{
    font-size: 1.5em;
    border: 1px solid #454546;
    display: flex;
    padding: 5px 10px;
    cursor: pointer;
}

.main-header_btn{
    display: flex;
    padding: 7px 15px;
    color: #454546;
    border: 1px solid #454546;
    text-decoration: none;
}

.main-header_input{
    display: block;
    padding: 8px;
    border: 1px solid #454546;
}

.main{
    padding: 0 20px;
}

/* Slider Hero*/

.container-sliderHero{
    margin: 0;
    position: relative;
    overflow: hidden;
}

.sliderHero{
    display: flex;
    width: 400%;
    height: 225px;
    margin-left: -100%;
    position: relative;
}

.sliderHero:before{
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
}

.sliderHero_section{
    width: 100%;
    position: relative;
}

.sliderHero_img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sliderHero_btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.sliderHero_btn:hover{
    background: #fff;
}

.sliderHero_btn-right{
    right: 10px;
}

.sliderHero_btn-left{
    left: 10px;
}

.sliderHero_title{
    font-size: 2.3em;
    margin: 0;
}

.sliderHero_txt{
    margin: 5px 0;
}

.sliderHero_content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center;
    z-index: 999;
}

.btn_shop{
    display: block;
    border: 2px solid #FF4E00;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 150px;
    margin: 20px auto;
}

.btn_shop:hover{
    background: #ff4d00f1;
}

/* Style Product: grid*/

.container-productos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.product {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}

.product::before{
    content: "New";
    background: #FF4E00;
    padding: 5px ;
    width: 45px;
    position: absolute;
    top: 10px;
    right: -5px;
    transform: rotate(-90deg);
    color: white;
}

/* Height 120px objet fit- cover */

.product_img{
    width: 100%;
}

.product_title{
    text-align: center;
}

.product_price{
    color: #FF4E00;
    font-weight: bold;
}

.product_icon{
    display: block;
    margin-top: 10px;
}

.main-title{
    margin-top: 0;
    padding-top: 20px;
}
/* CountDown */

.countdown{
    padding: 20px;
    margin: 20px 0;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/countdown1.jpg);
    background-size: cover;
}

.countdown_container{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 10px;
}

.countdown_title{
    letter-spacing: .150rem;
    text-align: center;
    font-size: 1.7em;
}

.countdown_txt{
    font-size: 40px;
}

.countdown_lists{
    padding: 0 2px;
    text-align: center;
}

.countdown_txt_txt{
    display: block;
    font-size: 13px;
}

.emoji{
    display: none;
    font-size: 1.5em;
    text-align: center;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
  }
  
/* Slider Side */

.container_sliderSide{
    margin: 50px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    background: #f7f7f7;
    padding: 20px;
    margin: 20px 0;
}

.sliderSide{
    display: flex;
    width: 400%;
    height: 225px;
    margin-left: -100%;
    position: relative;
}

.sliderSide_section{
    width: 100%;
    position: relative;
}

.sliderSide_btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
}

.sliderSide_btn:hover{
    background: #fff;
}

.sliderSide_btn-right{
    right: 10px;
}

.sliderSide_btn-left{
    left: 10px;
}

.sliderSide_content{
    position: absolute;
    top: 50%;
    left: 50%;
    color: #333;
    transform: translate(-50%, -50%);
    width: 85%;
}

.sliderSide_title{
    font-size: 1.8em;
    margin: 0;
}

.sliderSide_txt{
    margin: 5px 0;
}

.sliderSide_txt_colorwhite{
    color: #45454654;
}

.sliderSide_txt_color{
    font-size: 0.9em;
    color: #FF4E00;
}
/* Section Img */

.container-editor{
    margin-top: 20px;
}

.editor_item{
    height: 200px;
    position: relative;
    overflow: hidden;
}

.editor_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor_circle{
    width: 200px;
    height: 200px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -200px;
    right: -200px;
    color: white;
    padding: 20px;
    padding-bottom: 70px; 
    padding-right: 50px;
    font-size: 0.9em;
    text-align: center;
 
    transition: all 0.5s;
}

.editor_item:hover .editor_circle{
    transform: scale(1.2);
    bottom: -90px;
    right: -50px;

}

.editor_item:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(4, 4, 4, 0.700);
    opacity: 0;
    transition: all 0.5s;    
}

.editor_item:hover:before{
    opacity: 1;
}

/* Tips  */

.container_tips{
    padding: 20px;
    margin: 20px 0;
    background: #f7f7f7;
    text-align: center;
}

.tip i{
    font-size: 2em;
    color: #333;
    padding: 20px 0;
}

.tip .btn_shop{
    color: #333;
}

.tip .btn_shop:hover{
    color: white;
    background:#ff4d00f1;
}

/* Inicio Footer */

.main-footer{
    background-color: #19191a;
    color: rgb(255, 255, 255, 1.00);
    padding: 20px 20px 2px;
}

.footer_txt{
    color: #555;
}

.footer_link{
    color: #555;
    text-decoration: none;
    display: block;
    padding: 5px 0;
}

.footer_input{
    background-color: #19191a;
    width: 100%;
    display: block;
    padding: 7.5px;
}

.footer_input{
    background-color: #19191a;
    color: rgb(255, 255, 255, 1.00);
    border: 1px solid #555;
}

.footer_title{
    margin-top: 0;
}

.copy{
    font-size: 15px;
    text-align: center;
    color: #555;
}
/* Fin del Footer */












/* Switch - Modo oscuro */

.switch{
    display: flex;
    flex-wrap: wrap;
    align-items: center;        
    justify-content: space-between;
    width: 60px;
    height: 30px;
    margin: 20px 0;
    padding: 0 5px;
    position: relative;
    border-radius: 100px;
    border: 2px solid #333 ;
    background-color: #333;
}

.switch i{
    font-size: 1rem;
    color: #FF4E00;
}

.main-header_container span:last-child:before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: #fff;
    border: #333 solid thin;
    left: 0;
    right: unset;
}

.main-header_container span:last-child.active:before{
    right: 0;
    left: unset;
    border:#FF4E00 solid 1px;
}

.main-header_container span:last-child.active i:first-child{
    color: #fff;
}

.main-header_container span:last-child.active{
    background-color: #FF4E00;
    border: 2px solid #fff;
}

/* Dark mode */

body.active header{
    background-color: #19191a;
}

body.active header .main-header_title{
    color: rgb(255, 255, 255, 1.00);
}

body.active header .icon-menu{
    border: 1px solid #555;
    color: rgb(255, 255, 255, 1.00);
}

body.active header .main-header_btn{
    color: rgb(255, 255, 255, 1.00);
    border: 1px solid #555;
}

body.active header .bi-person-fill{
    color: rgb(255, 255, 255, 1.00);
}

body.active header .bi-search{
    color: rgb(255, 255, 255, 1.00);
}

body.active header .main-header_input{
    background-color: #19191a;
    color: rgb(255, 255, 255, 1.00);
    border: 1px solid #555;
}

body.active main{
    background-color: #19191a;
    
}

body.active main .main-title{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .product_description{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .bi-cart-plus-fill{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .product::before{
    background-color: rgb(255, 255, 255, 1.00);
    color: #FF4E00;
    font-weight: bold;
}

body.active main .container_tips{
    margin-bottom: 0;
    background-color: #202020;
}

body.active main .bi-gear{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .tip i{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .tip h3{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .tip p{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .tip a{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .container_sliderSide{
    background-color: #202020;
}

body.active main .sliderSide_content h2{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .sliderSide_content h3{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .sliderSide_content p{
    color: rgb(255, 255, 255, 1.00);
}

body.active main .sliderSide_txt_colorwhite{
    color: #454546  ;
}

body.active main .sliderSide_txt_color{
    color: #FF4E00;
}

 
/* Fin Switch - Modo oscuro */